.tab-group {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    margin: 0;
}

.tab {
    padding-left: 3em;
    padding: 1em;
}

.activeTab {
    background-color: var(--primary-color);
}

.tab:first-child{
    border-top-left-radius: 10px;
}

.tab:last-child {
    border-top-right-radius: 10px;
}
form {
    & div {
        gap: 10px;
        display: none;
        flex-direction: column;

        & input {
            border-color: black;
            border-radius: 3px;
            font-size: x-large;
            width: 230px;
            padding: 0;
            margin: 0;
            border-style: solid
        }

        .mensa-checkboxes {
            display: flex;
            flex-direction: row;

            & input {
                width: auto;
            }
        }

        #schedule-form-part {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 25px 25px 25px 25px 25px 25px 25px;

            & input {
                grid-column: 1;
                width: 50%;
            }

            & input[type="time"] {
                grid-column: 3;
                grid-row: 4;
                width: 80%;
            }

            & label {
                grid-column: 2;
                align-self: center;
            }
        }

        & button {
            padding: 5px;
            margin-top: 3em;
            align-self: center;
        }

        .iti__flag-container{
            display: flex !important;

            .iti__selected-flag{
                flex-direction: row;

                .iti__flag, .iti__arrow {
                    display: inherit;
                }
            }
        }
    }

    .activeFormPart {
        display: flex;
    }
}

#successful-setup-page {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & i {
        font-size: 80px;
    }
}